*.mobileprovision
fastlane/SnapshotHelper.swift
fastlane/report.xml
fastlane/screenshots/
NeuralBikes.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/
NeuralBikes.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
NeuralBikes.xcworkspace/xcuserdata/javierdemartin.xcuserdatad/*
NeuralBikes.xcworkspace/xcuserdata/javierdemartin.xcuserdatad/**
Pods/
NeuralBikes.xcworkspace/xcuserdata/javierdemartin.xcuserdatad/UserInterfaceState.xcuserstate
NeuralBikes.xcworkspace/xcuserdata/javierdemartin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.app.dSYM.zip
*.ipa
report.html
report.junit
*.cer
Gemfile*
*.mobileprovision

NeuralBikes.xcodeproj/xcuserdata/*.xcuserdatad/xcdebugger/
