<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bicis.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>807BA64A23EE149500F2D9E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>807BA65823EE153100F2D9E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8085CC58236E2CB500B45A7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8085CC6E236E2CB800B45A7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8085CC79236E2CB800B45A7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
